* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
  background-color: var(--body-c);
}

/* theme color */
:root {
    --body-c: #F5F8FF;
    --primary-c: #4E47FF;
    --secondary-c: #4E47FF10;
    --dark-1: #252432;
    --dark-2: #25243250;
    --dark-3: #1E1E1E;
    --dark-4: #757575;
    --dark-5: #B3B3B3;
    --dark-6: #00000050;
    --dark-7: #00000010;
    --strock-c: #F2EDED;
    --input-strock-c: #D6DDED;
    --placeholder-text-c: #00000050;
    --footer-text-c: #8987A1;
    --hover-c: #4E47FF99;
}
/* fonts */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* reusable styling code */
.section-mb {
    margin-bottom: 11.6rem;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.primary-btn {
  padding: 12px 36px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  background-color: var(--primary-c);
  color: white;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: all 1s;
}

/* apply hover effect on primary-btn */
.primary-btn:hover {
  background-image: linear-gradient(to right, #9403FD, #00ADFE);
  transform: scale(1.05);
}

/* styling code for nav section */
.header {
  width: 100vw;
  height: 100vh;
  background-image: url('../Assets/Hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.logo {
  font-size: 3.4rem;
  text-decoration: none;
  color: var(--primary-c);
  font-weight: 700;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0;
}

.hero-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 9rem;
}

.main-title-container {
  width: 85%;
  text-align: center;
}

.main-title-container h1 {
  font-size: 6.5rem;
  margin-bottom: 3.6rem;
}
/* styling code for Action section */
.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 11.6rem;
}

.left-action-container {
  width: 50%;
}

.left-action-container h2 {
  font-size: 4.2rem;
  margin-bottom: 2.3rem;
}

.left-action-container p {
  font-size: 2.4rem;
  color: var(--dark-2);
  margin-bottom: 2.3rem;
}

.right-action-container img {
  width: 40rem;
  border-radius: 4.8rem;
  -webkit-border-radius: 4.8rem;
  -moz-border-radius: 4.8rem;
  -ms-border-radius: 4.8rem;
  -o-border-radius: 4.8rem;
}